<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Catalogo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary" id="libriButton">Libri</button>
                <button class="btn btn-primary" id="filmButton">Film</button>
            </div>
        </div>
        
        <div class="row" id="libriSection">
            <div class="col">
                <h2>Libri</h2>
                <div th:each="libro : ${libri}" class="card" class="col-3">
                    <img th:src="${libro.immagine}" class="card-img-top" alt="Immagine libro">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${libro.titolo}"></h5>
                        <p class="card-text"><strong>Anno:</strong> <span th:text="${libro.anno}"></span></p>
                        <p class="card-text"><strong>Editore:</strong> <span th:text="${libro.editore}"></span></p>
                        <p class="card-text"><strong>ISBN:</strong> <span th:text="${libro.isbn}"></span></p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" id="filmSection">
            <div class="col">
                <h2>Film</h2>
                <div th:each="film : ${film}" class="card" class="col-3">
                    <img th:src="${film.immagine}" class="card-img-top" alt="Immagine film">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${film.titolo}"></h5>
                        <p class="card-text"><strong>Regista:</strong> <span th:text="${film.regista}"></span></p>
                        <p class="card-text"><strong>Cast:</strong> <span th:text="${film.cast}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function() {
            $("#libriSection").show();
            $("#filmSection").hide();

            $("#libriButton").click(function() {
                $("#libriSection").show();
                $("#filmSection").hide();
            });

            $("#filmButton").click(function() {
                $("#libriSection").hide();
                $("#filmSection").show();
            });
        });
    </script>
</body>

</html>