<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/CSS/dashboard.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <title>Dashboard Admin</title>
</head>

<body>
    <div class="container">
        <!-- --------- SIDEBAR ------------- -->
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="/images/icon007.png">
                    <h2>Secret Agent</h2>
                </div>
                <div class="close" id="close-btn">
                    <i class='bx bx-x'>close</i>
                </div>
            </div>


            <div class="sidebar">
                <a th:href="@{/dashboardAdmin}" >
                    <i class='bx bxs-grid-alt'></i>
                    <h3>Dashboard</h3>
                </a>
            </div>
            <div class="sidebar">
                <a th:href="@{/dashboardAdmin/clienti}">
                    <i class='bx bx-user' ></i>
                    <h3>Clienti</h3>
                </a>
            </div>
            <div class="sidebar">
                <a href="#" class="active">
                    <i class='bx bx-receipt'></i>
                    <h3>Ordini</h3>
                </a>
            </div>
            <div class="sidebar">
                <a th:href="@{/dashboardAdmin/prodottiadmin}">
                    <i class='bx bx-task'></i>
                    <h3>Prodotti</h3>
                </a>
            </div>
            <div class="sidebar">
                <a th:href="@{/aggiungiopera}">
                    <i class='bx bx-plus'></i>
                    <h3>Aggiungi opera</h3>
                </a>
            </div>
            <div class="sidebar">
                <a th:href="@{/dashboardAdmin/logout}">
                    <i class='bx bx-exit'></i>
                    <h3>Logout</h3>
                </a>
            </div>

        </aside>
        <!-- --------FINE SIDEBAR---------- -->
        <main>
            <h1>Dashboard Amministratore</h1>

            <div class="date">
                <input type="date">
            </div>

            <div class="recent-orders">
                <h2>Ordini</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Numero ordine</th>
                            <th>Data prenotazione</th>
                            <th>Opera prenotata</th>
                            <th>Nome utente</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody> <!-- tag per incapsulare tabelle -->
                        <tr th:each="p : ${prenotazioni}">
                            <td th:text="${p.id}">1</td>
                            <td th:text="${#temporals.format(p.dataOraPrenotazione, 'dd/MM/yyyy HH:mm')}">15/05/2023</td>
                            <td th:text="${p.opera.titolo}">Skyfall</td>
                            <td th:text="${p.utente.nome} + ' ' + ${p.utente.cognome}">Mario Rossi</td>
                            <td class="warning"><a th:if="${p.opera.prenotato == true}" th:href="@{dashboardAdmin/ripristina(id=${p.id})}" >Ripristina</a></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </main>
        <!-- ------------ FINE MAIN ------------------>
        <div class="right">
            <div class="top">
                <div class="profile">
                <a th:href="@{/}" class="home"><i class='bx bxs-home' id='icona-casa'></i></a>
                    <div class="info">
                        <p>Hey, <b>Mr. Bond</b></p>
                        <small class="text-muted">Admin</small><br>
                    </div>
                    <div class="profile-photo">
                        <img src="/images/daniel-craig-close-up-james-bond.jpg">
                    </div>
                </div>
            </div>

            <!-- ------ FINE TOP ------- -->
            <div class="recent-updates">
                <h2>Aggiornamenti recenti</h2>
                <div class="updates">

                    <div class="update">
                        <div class="profile-photo">
                            <img src="/images/au003-aston-martin-db5-spectre-bond.jpg">
                        </div>
                        <div class="message">
                            <div class="message">
                                <p><b>Utente 1</b> ha ricevuto il suo ordine</p>
                                <small class="text-muted">2 minuti fa</small>
                            </div>
                        </div>
                    </div>

                    <div class="update">
                        <div class="profile-photo">
                            <img src="/images/au003-aston-martin-db5-spectre-bond.jpg">
                        </div>
                        <div class="message">
                            <div class="message">
                                <p><b>Utente 2</b> ha ricevuto il suo ordine</p>
                                <small class="text-muted">2 minuti fa</small>
                            </div>
                        </div>
                    </div>

                    <div class="update">
                        <div class="profile-photo">
                            <img src="/images/au003-aston-martin-db5-spectre-bond.jpg">
                        </div>
                        <div class="message">
                            <div class="message">
                                <p><b>Utente 3</b> ha ricevuto il suo ordine</p>
                                <small class="text-muted">2 minuti fa</small>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</body>

</html>