<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/dettaglio.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Quicksand&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    
    <title>Dettaglio</title>
</head>

<body>

    <div class = "popup btn-box" id="popup">
        <div class="contenuto-popup">
        <h3>Vuoi noleggiare il seguente articolo: </h3>
        <p th:text="${opera.titolo}" style="font-weight: bold;" >Titolo Film</p> 
        <img th:src="@{${opera.immagine}}">
        <div class="buttons">
            <button class="danger" id="btn-annulla">Annulla</button>
            <a th:href="@{prenota/registra(id=${opera.id})}"><button class="success" >Conferma</button></a>
        </div>
        </div>
    </div>
    <div class="overlay" id="overlay"></div>
    <!-- header-->
    <header class="header slide_text">
        <a th:href="@{/}" class="logo"><img src="/images/icon007.png" class="icon-logo"><h2>James Bond</h2></a>

        <nav class="navbar">
            <a th:href="@{/}" class="active">Home</a>
            <a th:href="@{/#history}">Storia</a>
            <a th:href="@{catalogo2('catalogo')}">Catalogo</a>
        <!--<a href="">Parliamone</a>-->
            <a th:if="${utente == null}" th:href="@{utente}">Login</a>
			<div th:if="${utente != null}" class="profile-photo">
                <a th:href="@{dashboardutente}"><img src="/images/daniel-craig-close-up-james-bond.jpg"></a>
            </div>

            <span class="active-nav"></span>
        </nav>
        <!--icona del menu che appare in modalità responsive-->
        <div class="bx bx-menu" id="menu-icon"></div>
    </header>

    <!-- sezione immagine e dettaglio -->
    <section class="sezione1">
        <div class="container">
            <div class="poster">
                <img th:src="@{${opera.immagine}}" alt="">
            </div>
            <div class="info">
                <div class="movie-title" th:text="${opera.titolo}"> Titolo</div>

                <div class="movie-detail">
                    <div class="set">
                        <label>Anno di pubblicazione</label>
                        <span class="big_text" th:text="${opera.annoDiPubblicazione}">3 Marzo 2021</span>
                    </div>
                    <!-- <div class="set">
                        <label>Durata</label>
                        <span class="big_text">1 Hr 47 Min</span>
                    </div> -->
                    <div class="set">
                        <label>Genere</label>
                        <span class="big_text">Spionaggio</span>
                    </div>
                </div>
                <div class="movie-description big_text" th:text="${opera.trama}">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium facilis
                    consequuntur sint sed quos ut voluptatibus nulla cum minima itaque perferendis saepe accusamus pariatur,
                    recusandae, in consequatur. Necessitatibus, tempora nesciunt?</div>
                <div class="movie-cast" th:if="${opera.regista != null} OR ${opera.cast != null}">
                    <div class="list">
                        <div class="cast" >
                            <p class="titolo">Regista</p>
                            <p class="big_text" th:text="${opera.regista}"></p>
                        </div>
                        <div class="cast">
                        	<p class="titolo">Cast</p>
                        	<ul>
                        		<li class="big_text" th:each="c : ${cast}" th:text="${c}" style="list-style: none;"></li>
                        	</ul>
                        </div>
                        <div class="cast">
                        	<div class="btn-box">
                    			<a th:if="${!opera.prenotato}" type="button" class="success"  style="cursor: pointer;" id="btn-noleggia">Noleggia</a>
                				<a th:if="${opera.prenotato}" type="button" class="danger" style="cursor: default;">Non disponibile</a>
                        	</div>
                    	</div>
                	

                	</div>
                </div>
                <div class="cast" th:if="${opera.tipologia == 'L'}" > 
                	<div class="btn-box">
                    	<a th:if="${!opera.prenotato}" type="button" class="success"  style="cursor: pointer;" id="btn-noleggia">Noleggia</a>
                		<a th:if="${opera.prenotato}" type="button" class="danger" style="cursor: default;">Non disponibile</a>
                      </div>
                </div>
                
            </div>
        </div>

    </section>

    <!-- carosello immagini -->

    <div class="carosello">
        <div class="wrapper">
            <i id="left" class='bx bx-chevrons-left'></i>
            <div class="carousel">
                <img src="/images/img1.jpg">
                <img src="/images/img2.jpg">
                <img src="/images/img3.jpg">
                <img src="/images/img4.jpg">
                <img src="/images/img5.jpg">
                <img src="/images/img6.jpg">
                <img src="/images/img7.jpg">
            </div>
            <i id="right" class='bx bx-chevrons-right'></i>
        </div>
    </div>
	
	<script src="/JS/carosello.js" defer></script>
    <script src="/JS/PopUpDettaglio.js"></script>

</body>

</html>