<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
    <div class="libri-grid-container"> <!-- catalogo -->
        <div class="libri-grid-item-1 libri-grid-container-interno-1">
            <div class="libri-grid-item-interno-1">
                Locandina
            </div>
            <div class="libri-grid-item-interno-2">
                <button value="Noleggia">Noleggia il film</button> <!-- Bottone per noleggiare il film -->  
            </div>
        </div>
        <div class="libri-grid-item-2">Titolo: </div>
        <div class="libri-grid-item-3">Editore: </div>
        <div class="libri-grid-item-4">Descrizione: </div>
        <div class="libri-grid-item-5">
            <table>
                <tr>
                    <th>Questa edizione</th>
                </tr>
                <tr>
                    <td>ISBN:</td>
                </tr>
                <tr>
                    <td>Anno di pubblicazione:</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>