<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymealeaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/registrazione.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="inner-box" id="card">
                <div class="card-front">
                    <h2>LOGIN</h2>
                    <form method="POST" th:object="${utente}">
                        <input type="text" class="input-box" placeholder="Username" th:field="*{username}"required>
                        <input type="password" class="input-box" placeholder="Password" th:field="*{password}" required>
                        <button type="submit" class="submit-btn" value="Login">Login</button>
                        <input type="checkbox"><span>Ricordami</span>
                    </form>
                    <button type="button" class="btn" onclick="openRegister()">Iscriviti</button>
                    <a href="">Password dimenticata</a>

                    <a href="#" class="home">Torna alla home</a>
                </div>
                <div class="card-back">
                <h2>REGISTRAZIONE</h2>
                    <form method="POST" th:object="${utente}">
                        <input type="text" class="input-box" placeholder="Nome" th:field="*{nome}" required>
                        <input type="text" class="input-box" placeholder="Cognome" th:field="*{cognome}" required>
                        <input type="text" class="input-box" placeholder="Email" th:field="*{email}" required>
                        <input type="text" class="input-box" placeholder="Username" th:field="*{username}" required>
                        <input type="password" class="input-box" placeholder="Password" th:field="*{password}" required>
                        <button type="submit" class="submit-btn">Registrati</button>
                    </form>
                    
                    <button type="button" class="btn" onclick="openLogin()">Ho già un account</button>
                    <a href="">Password dimenticata</a>
                    
                    <a href="#" class="home">Torna alla home</a>
                </div>
            </div>
            
        </div>

    </div>
        
    
    <script>

        var card = document.getElementById("card");

        function openRegister(){
            card.style.transform = "rotateY(-180deg)"
        }
        function openLogin(){
            card.style.transform = "rotateY(0deg)"
        }

    </script>

</body>
</html>