<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<!--favicon-->
    	<link rel="shortcut icon" type="images/x-icon" href="images/favicon.ico">
		<title>Pagina Utente</title>
	</head>
	<body>
		<table>
			<tr>
				<td th:text="'Username: ' + ${username}">username</td>
				<td th:text="'Nome: ' + ${nome}">nome</td>
				<td th:text="'Cognome: ' + ${cognome}">cognome</td>
				<td th:text="'Email: ' + ${email}">email</td>
			</tr>
		</table>
	</body>
</html>